server {
    listen 80;
    server_name _;

    location ~ /\.(?!well-known) {
        deny all;
        #root /var/www/html;
    }

    location ~ /\.well-known/acme-challenge {
        allow all;
        root /usr/share/nginx/html;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log    off;
    }

    location = /robots.txt {
        log_not_found off;
        access_log    off;
    }

    location / {
        return 302 https://$host$request_uri;
    }
}